<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Shinage{% block title %}{% endblock %}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/all.min.css') }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include('navi/navigation.html.twig') %}

        <div id="mainWrapper">
            {# main content #}
            {% block body %}{% endblock %}

            <div id="ajax-loading">
                <img src="{{ asset('img/spin.gif') }}">
            </div>

            <div id="footer">
                Shinage Digital Signage ({{ version_checker.version }})
            </div>
        </div>

        <script src="{{ asset('assets/all.min.js') }}"></script>

        <script>
            $('.ui.dropdown').dropdown();
        </script>

        <script>
            $.notify.defaults({ autoHideDelay: 2000, showDuration: 250 });

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    $.notify("{{ message }}", { className: '{{ label }}', autoHideDelay: 10000 });
                {% endfor %}
            {% endfor %}
        </script>

        {% block scripts %}{% endblock %}


        <script>
            $(function() {
                //ajaxLoadHide();
            });
        </script>
    </body>
</html>
