<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Shinage{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/shinsrv.css') }}" />

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            <div id="header">Shinage-Logo</div>
            <div id="navi">
                {% include 'navi/manage.html.twig' %}

                {% include 'navi/login.html.twig' %}
            </div>

            {# flash messages #}
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="flash flash-error">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="flash flash-success">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {# main content #}
            {% block body %}{% endblock %}
        </div>

        <div id="ajax-loading">
            <img src="{{ asset('img/spin.gif') }}">
        </div>

        {% javascripts
        '@jquery' '@shinage' '@notify'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            $.notify.defaults({ autoHideDelay: 2000, showDuration: 250 });
        </script>

        {% block scripts %}{% endblock %}


        <script>
            $(function() {
                ajaxLoadHide();
            });
        </script>
    </body>
</html>
