<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Shinage Presentation</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/player.min.css') }}" />

    {% block stylesheets %}{% endblock %}
</head>
<body>

    <div id="ajax-loading">
        <img src="{{ asset('img/spin.gif') }}">
    </div>

    <script>
        var img_base = "{{ path('screen-remote-client-file', {'file': ''}) }}";
        var slides = {{ slides_json|raw }};
    </script>

    <script src="{{ asset('assets/player.min.js') }}"></script>

    {% block scripts %}{% endblock %}

    <script>
        $(function() {
            ajaxLoadHide();
        });
    </script>

</body>
</html>
