{% extends 'base.html.twig' %}

{% block body %}
        <div id="container">

            <div id="status">
                <p>
                </p>
            </div>

            <div id="next">
                <h2>Willkommen!</h2>
            </div>

            <div id="todolist">
                <ul>
                    {% for t in todos %}
                        <li class="todo-{{ t.getType() }}">
                            <span class="todo-li-text">{{ t.getText() }}</span>
                            <span class="todo-li-file">{{ t.getFile() }}</span>
                            <span class="todo-li-line">{{ 'Line'|trans }}: {{ t.getLine() }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!--
            TODO: Benutzer registrieren
            TODO: Organisation: anlegen
            TODO: Organisation: Benutzer hinzufügen/entfernen
            TODO: Scheduler: Schnittmengenbehandlung
            TODO: Zwei-Faktor-Authentifizierung (z.B. via http://www.christianscheb.de/archives/302 )
            -->

        </div>

        <p style="font-size:0.8em; text-align:center; ">Diese Seite nutzt Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}
        <br>
        Lokaler Pfad: <code>{{ base_dir }}</code>
        </p>
{% endblock %}

{% block stylesheets %}
<style>


</style>
{% endblock %}
