{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui main full-width container">
        <div class="page-header">
            <h1>{{ 'Files'|trans }}</h1>
        </div>

        <div id="elfinder"></div>
        <div class="ui message"><i class="attention icon"></i><strong>{{ "Warning"|trans }}</strong>: {{ "Files uploaded here are accessible without authentication"|trans }}.</div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        var $container = $('.ui.main.container');
        var options = {
            url  : '{{ path('management-files-connector') }}',
            i18nBaseUrl : '{{ url('homepage', {}, false) }}vendor/studio-42/elfinder/js/i18n',
            lang : '{{ app.request.locale }}',
            uiOptions : {
                // toolbar configuration
                toolbar : [
                    ['back', 'forward'],
                    // ['reload'],
                    // ['home', 'up'],
                    ['mkdir', 'mkfile', 'upload'],
                    ['open', 'download', 'getfile'],
                    ['info'],
                    ['quicklook'],
                    ['copy', 'cut', 'paste'],
                    ['rm'],
                    ['duplicate', 'rename', 'edit', 'resize'],
                    ['extract', 'archive'],
                    /*['search'],*/
                    ['view']
                ],

                // directories tree options
                tree : {
                    // expand current root on init
                    openRootOnLoad : true,
                    // auto load current dir parents
                    syncTree : true
                },

                // navbar options
                navbar : {
                    minWidth : 150,
                    maxWidth : 500
                },

                // current working directory options
                cwd : {
                    // display parent directory in listing as ".."
                    oldSchool : false
                }
            },
            handlers : {
                // @TODO On DoubleClick do not open but submit dialog
                dblclick : function(event, elfinderInstance) {
                    event.preventDefault();
                    elfinderInstance.exec('getfile')
                        .done(function() { elfinderInstance.exec('quicklook'); })
                        .fail(function() { elfinderInstance.exec('open'); });
                }
            },

            getFileCallback : function(files, fm) {
                return false;
            },

            commandsOptions : {
                quicklook : {
                    width : 640,  // Set default width/height for quicklook
                    height : 480
                }
            },

            height:  $container.height() - 40
        };
        var $elfinder = $('#elfinder').elfinder(options);

        $container.resize(function () {
            var win_height = $container.height();
            if ($elfinder.options.height != win_height) {
                $elfinder.resize('auto', win_height - 40);
            }
        });
    </script>
{% endblock %}
