{% extends 'account/account.html.twig' %}

{% block account_main %}
    {# TODO{s:0}: Erklären, wozu Organisationen gut sind #}

    <h3 class="ui top attached block header">
        {{ 'CreateOrganization'|trans }}
    </h3>
    <div class="ui bottom attached segment">
        {{ form(form_create) }}
    </div>

    <div>
        {% for orga in organizations %}
            <h3 class="ui top attached block header">
                {{ orga.getName() }}
            </h3>
            <div class="ui middle attached segment">
                {# TODO{s:0}: Anzeigen: Anzahl Bildschirme #}
                {# TODO{s:0}: Anzeigen: FileManager Quota #}
                {# TODO{s:0}: Orga-Bearbeiten: Form-Handling verbessern #}

                <p>{{ 'Members'|trans }}:</p>
                <div class="ui middle aligned divided list">
                    {% for user in orga.users %}
                        <div class="item">
                            <div class="right floated content">
                                <a class="remove-user ui red button" href="{{ path('account-orga-remove', { 'user':user.getId(), 'orga_id':orga.getId() }) }}" data-user="{{ user.getEmail() }}" data-orga="{{ orga.getName() }}">
                                    {{ 'Remove'|trans }}
                                </a>
                            </div>
                            {#<img class="ui avatar image" src="/images/avatar2/small/molly.png">#}
                            <div class="content">
                                {{ user.getEmail() }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <p style="margin-top:15px; font-weight:bold; ">{{ 'AddMember'|trans }}:</p>
                <form action="{{ path('account-orga-add-user') }}" method="post">
                    <input type="hidden" name="organization" value="{{ orga.getId() }}">
                    <div class="ui fluid action labeled input">
                        <label for="email" class="ui label">{{ 'Email'|trans }}</label>
                        <input type="text" id="email" name="email" data-cip-id="email">
                        <button class="ui blue right labeled icon button" type="submit">
                            <i class="add user icon"></i>
                            {{ 'AddUser'|trans }}
                        </button>
                    </div>
                </form>
            </div>
            <div class="ui bottom attached segment">
                <a class="leave ui red button" data-name="{{ orga.getName() }}" href="{{ path('account-orga-leave', {'id': orga.getId()}) }}">
                    {{ 'LeaveThisOrga'|trans }}
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="ui modal" id="leaveDialog">
        <i class="close icon"></i>
        <div class="header">
            {{ 'LeaveThisOrga'|trans }}
        </div>
        <div class="content">
            <strong>
                {{ "Are you sure you want to leave the organization?"|trans }}
            </strong>
            <br>
            {{ "This cannot be undone!"|trans }}
        </div>
        <div class="actions">
            <div class="ui cancel button">{{ 'No (cancel)'|trans }}</div>
            <div class="ui approve button">{{ 'Yes'|trans }}</div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('.leave').on('click', function(e) {
                var that = this;
                $('#leaveDialog').modal({
                    onApprove : function() {
                        window.location = $(that).attr('href');
                    }
                }).modal('show');
                e.preventDefault();
                return false;
            });
            $('.remove-user').on('click', function(e) {
                var c = confirm("Soll der Benutzer \"" + $(this).data('user') +
                    "\" wirklich aus der Organisation \"" +
                    $(this).data('orga') + "\" entfernt werden?");
                if (!c) {
                    e.preventDefault();
                    return false;
                }
                return true;
            });
        });
    </script>
{% endblock %}
