{% extends 'account/account.html.twig' %}

{% block account_main %}
    <h3 class="ui top attached block header">
        {{ 'ChangeEmail'|trans }}
    </h3>
    <div class="ui bottom attached segment">
        {{ form(form) }}
    </div>

    <h3 class="ui top attached block header">
        {{ 'ChangePassword'|trans }}
    </h3>
    <div class="ui bottom attached segment">
        {{ form(form_pw) }}
    </div>

    <h3 class="ui top attached block header">
        {{ 'CreateApiKeys'|trans }}
    </h3>
    <div class="ui bottom attached segment">
        {{ form(form_add_api_key) }}
    </div>


    {% for k in api_keys %}
        <h3 class="ui top attached block header">
            API-Key: {{ k.getName() }}
        </h3>
        <div class="ui bottom attached segment">
            <div class="col-sm-2">Schlüssel:</div>
            <div class="col-sm-10"><span class="code">{{ k.getCode() }}</span></div>
            <div class="col-sm-2">Rechte:</div>
            <div class="col-sm-10">{{ k.getRolesReadable() }}</div>
            <p><a href="{{ path('account-delete-apikey', { id: k.getId() }) }}">Schlüssel löschen</a></p>
        </div>
    {% endfor %}

{% endblock %}

