{% extends 'mail/html/base.html.twig' %}
{% trans_default_domain 'mail' %}

{% block body %}
    {{ 'reset_password.intro'|trans|raw }}
    <br><br><br>
    {{ 'reset_password.link.before'|trans|raw }}
    <br><br>
    <a href="{{ link }}" target="_blank" rel="nofollow">{{ link }}</a>
    <br><br>
    {{ 'reset_password.link.after'|trans|raw }}
    <br><br><br>
    {{ 'reset_password.outro'|trans|raw }}
{% endblock %}
