{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="flash flash-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div id="flash-container">
    </div>

    <form class="form-signin" accept-charset="UTF-8" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="ui fluid input">
            <input type="email" id="login_field" name="_username" class="form-control" placeholder="{{ 'form.email'|trans }}" required="required" autofocus="autofocus">
        </div>
        <div class="ui fluid input">
            <input type="password" name="_password" id="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required>
        </div>
        <button class="ui primary button" type="submit" data-disable-with="{{ 'security.login.submitted'|trans }}" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
    </form>
