{% extends 'manage/presentations/editor_base.html.twig' %}

{% block body %}
    <div class="panel-body">
        <div id="slideshowEditor" class="row">
            <div id="prototypes">
                <div class="prototype slide Image">
                    <img>
                </div>
            </div>

            <div id="slides" class="col-sm-8">
            </div>
            <div id="sideTab" class="col-sm-4">
                <ul>
                    <li><a href="#tabAdd">{{ "Add"|trans }}</a></li>
                    <li><a href="#tabSlide">{{ "Slide"|trans }}</a></li>
                </ul>
                <div id="tabAdd">
                    TODO: Add
                    <button id="btnAddSlideImage">{{ "Image"|trans }}</button>
                </div>
                <div id="tabSlide">TODO: Slide settings</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded',
            function () {

                SlideshowEditor
                    .init("#slideshowEditor", "{{ path("management-presentations-edit", { id: presentationId, parameters: "update" }) }}")
                    .loadSlides({{ slidesJson|raw }});

                console.log($("#sideTab"));
                $("#sideTab").tabs();
            },
            false
        );
    </script>
{% endblock %}
