{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui main container">
        <div id="slideshowEditor" class="ui stackable grid">
            <div id="prototypes">
                <div class="prototype slide Image">
                    <img>
                </div>
            </div>

            <div id="slides" class="ui segment ten wide column">
            </div>

            <div id="sideTabContainer" class="ui six wide column">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="tabAdd">{{ "Add"|trans }}</a>
                    <a class="item" data-tab="tabSlide">{{ "Slide"|trans }}</a>
                </div>
                <div id="tabAdd" class="ui bottom attached tab segment active" data-tab="tabAdd">
                    <button id="btnAddSlideImage" class="add Image ui button"
                            data-prototype='{"type":"Image","duration":5000,"title":"Slide","transition":"","src":"//via.placeholder.com/500x380"}'>
                        <i class="fa fa-image fa-lg fa-fw"></i> {{ "Add Image"|trans }}
                    </button>
                </div>
                <div id="tabSlide" class="ui bottom attached tab segment" data-tab="tabSlide">
                    <div class="settings Image">
                        <label for="settingsImageSrc">{{ "Image Source"|trans }}:</label>
                        <div class="ui input fluid">
                            <input type="text" name="src" id="settingsImageSrc">
                        </div>
                    </div>
                    <div class="settingsButtons">
                        <button id="btnSaveSettings" class="ui button primary"><i class="fa fa-save fa-lg fa-fw"></i>{{ "Save"|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        document.addEventListener(
            'DOMContentLoaded',
            function () {
                $('.tabular.menu .item').tab();

                SlideshowEditor
                    .init("#slideshowEditor", "{{ path('presentation-editor-slideshow-update', { presentationId: presentation.id }) }}")
                    .loadSlides({{ slidesJson|raw }});
            },
            false
        );
    </script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
