{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <h2>{{ 'Presentations'|trans }}</h2>

        <!--
        TODO: Präsentationen zwischen Benutzer und Organisationen verschieben
        TODO: Präsentationen-Auswahlliste schöner
        -->

        <div id="chose-presentation">
            <p>Präsentation zum Bearbeiten auswählen:</p>
            <ul>
                {% for key,who in presentations %}
                    <li>{{ key }}
                        <ul>
                            {% for p in who %}
                                <li id="pres-chose-{{ p.getId() }}">
                                    <a class="load-pres" data-presentation-id="{{ p.getId() }}">{{ p.getTitle() }}</a>
                                    <img class="delete-pres" data-presentation-id="{{ p.getId() }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QEHCR87wvuvuwAAAIRJREFUOMutU0EOwCAIa3byNSY+wv8f/YHPWHeYLtjhZcyEKNTGAgKSmIskpq9xxfXOdDqA4hHGXgD0hWjABoDDqvNSNXh7cPMyxbJRkB38VmKk0bE0zMOKqqhy4dyc1xSlSHlDsLH86pQEdpIJICn5QHT9mUKoiN/bGP5I4a8cHqboOF/dHiTQQ9S7CAAAAABJRU5ErkJggg==">
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                <li><a class="new-pres">neue Präsentation anlegen</a></li>
            </ul>
        </div>
    </div>

    <div id="presentation-builder-container">
        <div id="pool-tree">
            {{ file_tree|raw }}
        </div>

        <div class="presentation-builder">
            <p>Bitte Präsentation auswählen.</p>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/jstree/jstree.min.js') }}"></script>

    <script>
        var current_presentation = null;

        var loadPresentation = function(id, background) {
            ajaxLoadShow();
            current_presentation = id;
            $.ajax({
                url: "{{ path('management-presentations-get') }}",
                method: 'POST',
                data: {
                    'id': current_presentation
                }
            }).fail(function() {
                $.notify("Präsentation konnte leider nicht geladen werden.", "error");
            }).done(function(data) {
                readPresentation(data);
                if (background != true) {
                    $.notify("Präsentation \"" + data.title + "\" geladen.", "success");
                }
            }).always(function() {
                ajaxLoadHide();
            });
        };

        var deletePresentation = function(id) {
            ajaxLoadShow();
            var li = $("#pres-chose-" + id);
            $.ajax({
                url: "{{ path('management-presentations-delete') }}",
                method: 'POST',
                data: {
                    'id': id
                }
            }).fail(function() {
                $.notify("Präsentation konnte leider nicht gelöscht werden.", "error");
            }).done(function(data) {
                if (current_presentation == id) {
                    current_presentation = 0;
                    $(".presentation-builder").empty();
                }
                li.remove();
                $.notify("Präsentation gelöscht.", "success");
            }).always(function() {
                ajaxLoadHide();
            });
        };

        var readPresentation = function(json) {
            $(".presentation-builder").empty();
            current_presentation = json.id;

            for (var i = 0; i < json.slides.length; ++i) {
                var slide = json.slides[i];
                if (slide.slide_type == 'image') {
                    var div = $(
                        '<div class="elem elem-image">' +
                        '    <img class="preview" src="{{ path('management-presentations-get-thumbnail', {'file':''}) }}/' +
                                slide.file_path + '">'+
                        '    <span class="name">Bildname</span>' +
                        '    <span class="duration"><input type="text" value="' +
                            slide.duration + '">Sek.</span>' +
                        '<img class="button-delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QECDRkgLhOZPwAAAJZJREFUOMutU0kOxDAIMz11PoOUR+T/x/5gvjA9jedQ6FBET9RSJBKb4CyAJBwk4fO8nvmscfJNclQJFg/T4AIjN/4xC2cz8NvJh8oZ6g4szjicBGsVVhsVRnYxk+B7E1+PmC5JbxLimsYcOQMR32wF8EGNF4DdtSKCBU0sqbpadRZaGqcp54FLbD1j+yO1v3K7mbrt/ANBpmKW31STdQAAAABJRU5ErkJggg==">' +
                        '</div>'
                    );
                    div.data('data', slide);
                    $(".presentation-builder").append(div);
                }
            }

            // init sortable
            // init sortable (slide) area
            $( ".presentation-builder" ).sortable({
                update: function( event, ui ) {
                    if (!current_presentation) return false;

                    var new_order = [];

                    $(this).children().each(function(id, o) {
                        var slide = $(o).data('data');
                        slide.sort_order = id;
                        new_order.push(slide);
                    });


                    ajaxLoadShow();
                    $.ajax({
                        url: "{{ path('management-presentations-set-order') }}",
                        method: 'POST',
                        data: {
                            'slides': new_order
                        }
                    }).fail(function() {
                        $.notify("Präsentation konnte leider nicht gespeichert werden.", "error");
                    }).done(function(data) {
                        $.notify("Präsentation gespeichert.", "success");
                    }).always(function() {
                        loadPresentation(current_presentation, true);
                    });
                }
            });
            $(".presentation-builder").disableSelection();

            // and now register events for current loaded presentation
            $(".duration input").on('change', function() {
                var duration = $(this).val();
                var slide = $(this).parent().parent().data('data');

                ajaxLoadShow();
                $.ajax({
                    url: "{{ path('management-presentations-change-slide') }}",
                    method: 'POST',
                    data: {
                        'id':       slide.id,
                        'duration': duration
                    }
                }).fail(function() {
                    $.notify("Dauer konnte nicht gespeichert werden.", "error");
                }).done(function(data) {
                    $.notify("Dauer aktualisiert.", "success");
                }).always(function() {
                    ajaxLoadHide();
                });
            });

            $(".button-delete").on('click', function() {
                var slide_div = $(this).parent();
                var slide = slide_div.data('data');

                var answer = confirm("Soll die gewähle Folie wirklich entfernt werden?");
                if (!answer) return;

                ajaxLoadShow();
                $.ajax({
                    url: "{{ path('management-presentations-delete-slide') }}",
                    method: 'POST',
                    data: {
                        'id':       slide.id
                    }
                }).fail(function() {
                    $.notify("Folie konnte nicht gelöscht werden.", "error");
                }).done(function(data) {
                    slide_div.remove();
                    $.notify("Folie gelöscht.", "success");
                }).always(function() {
                    ajaxLoadHide();
                });
            });
        };

        var registerDraggables = function() {
            $( ".jstree-leaf" ).draggable({
                containment: ".presentation-builder-container",
                scroll: false,
                revert: "invalid",
                stack: ".draggable",
                connectToSortable: ".presentation-builder",
                helper: function(o, ui) {
                    var div = $(
                        '<div class="elem elem-image">' +
                        '    <img class="preview" src="{{ path('management-presentations-get-thumbnail', {'file':''}) }}/' +
                            $(this).data('poolpath') + '">'+
                        '    <span class="name">Bildname</span>' +
                        '</div>'
                    );
                    var slide = {
                        "id": 0,
                        "slide_type": "",
                        "duration": 5,
                        "notes": "",
                        "file_path":  $(this).data('poolpath'),
                        "sort_order": 0,
                        "presentation": current_presentation
                    };
                    div.data('data', slide);
                    return div;
                } /*'clone'*/,
                stop: function(event, ui) {
                    console.log("stop");
                }
            });
        };


        $(document).ready(function() {
            // init file tree
            $('#pool-tree')
                .bind('ready.jstree', function(e, data) {
                    registerDraggables();
                })
                .bind('open_node.jstree', function(e, data) {
                    registerDraggables();
                })
                .jstree({});


            // load presentation
            $('.load-pres').on('click', function() {
                loadPresentation($(this).data('presentation-id'));
            });

            // delete presentation
            $('.delete-pres').on('click', function() {
                var r = confirm("Möchten Sie die gewählte Präsentation wirklich löschen?");
                if (!r) return;
                deletePresentation($(this).data('presentation-id'));
            });

            // create new presentation
            $('.new-pres').on('click', function() {
                // TODO schöner
                var title = prompt("Bitte geben Sie den Titel der Präsentation ein.", "Präsentation");
                if (!title) return;

                ajaxLoadShow();
                $.ajax({
                    url: "{{ path('management-presentations-create') }}",
                    method: 'POST',
                    data: {
                        'title': title
                    }
                }).fail(function() {
                    $.notify("Neue Präsentation konnte leider nicht erstellt werden.", "error");
                }).done(function(data) {
                    location.reload();
                }).always(function() {
                    ajaxLoadHide();
                });
            });

        });
    </script>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('js/jstree/themes/default/style.min.css') }}" />
{% endblock %}
