{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui main container presentations">
        <div class="page-header">
            <h1>{{ 'Presentations'|trans }}</h1>
        </div>
        <div class="row">
            <a class="btn btn-primary" href="{{ path("management-presentations-create") }}">
                <i class="fa fa-plus fa-fw"></i>
                {{ "Create Presentation"|trans }}
            </a>
        </div>
        <!--
        TODO{s:5}: Präsentationen zwischen Benutzer und Organisationen verschieben
        -->

        {% for presentationGroup in presentations %}
            {% for presentation in presentationGroup %}
                <h2 class="ui top attached block header">{{ presentation.title }}</h2>
                <div class="ui bottom attached segment row slide">
                    <p>{{ presentation.lastModified|date('Y-m-d') }}</p>
                    <p>{{ presentation.notes }}</p>
                    <p>
                        <a class="btn btn-default" href="{{ path("management-presentations-edit", { id: presentation.id })  }}">
                            <i class="fa fa-pencil fa-fw"></i>
                            {{ "Edit Presentation"|trans }}
                        </a>
                    </p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script>
    </script>
{% endblock %}


{% block stylesheets %}
{% endblock %}
