{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ 'Presentations'|trans }}</h1>
        </div>
        <div class="row">
            <a class="btn btn-primary" href="{{ path("management-presentations-create") }}">
                <i class="fa fa-plus"></i>
                {{ "Create Presentation"|trans }}
            </a>
        </div>
        <!--
        TODO{s:5}: Präsentationen zwischen Benutzer und Organisationen verschieben
        -->

        {% for presentationGroup in presentations %}
            {% for presentation in presentationGroup %}
                <div class="row">
                    <h2>{{ presentation.title }}</h2>
                    <p>{{ presentation.lastModified|date('Y-m-d') }}</p>
                    <p>{{ presentation.notes }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script>
    </script>
{% endblock %}


{% block stylesheets %}
{% endblock %}
