{% extends 'base.html.twig' %}

{# Title suffix of page #}
{% block title %} :: Zeitplan{% endblock %}

{% block body %}

    <div id="container">
        <div id="sched-screen-list">
            {% for screen in screens %}
                <div class="item visible" data-guid="{{ screen.getGuid() }}">
                    <span title="Anzeigen/Ausblenden" class="selector" data-guid="{{ screen.getGuid() }}"></span>
                    <p title="Name: {{ screen.getName() }}" class="screen-name">{{ screen.getName() }}</p>
                    <p title="Ort: {{ screen.getLocation() }}" class="screen-loction">{{ screen.getLocation() }}</p>
                </div>
            {% endfor %}
        </div>

        <div id='calendar'></div>
    </div>

{% endblock %}

{# Styles for placement in <head> tag #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('js/fullcalendar-3.1.0/fullcalendar.min.css') }}" media="all"></link>
    <link rel="stylesheet" href="{{ asset('js/fullcalendar-3.1.0/fullcalendar.print.min.css') }}" media="print"></link>

    <style>
        #calendar {
            /*
            max-width: 900px;
            margin: 0 auto;
             */
            width:100%;
        }
    </style>
{% endblock %}

{# Scripts for placement at the end of <body> tag #}
{% block scripts %}
    <script>
        var uri_get_schedule = '{{ path('management-get-schedule') }}';
        var uri_add_scheduled = '{{ path('management-add-scheduled') }}';
        var uri_change_scheduled = '{{ path('management-change-scheduled') }}';
        var uri_delete_scheduled = '{{ path('management-delete-scheduled') }}';
    </script>
    {% javascripts
    '@moment' '@fullcalendar'
    '@AppBundle/Resources/public/js/scheduler.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}



{% endblock %}
