{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui main container">
        <div class="page-header">
            <h1>{{ 'Screens'|trans }}</h1>
        </div>

        {# TODO: save multiple/all at once (perhaps "dirty" flag and iteration?) #}

        <div class="ui cards">
            {% for screen in screens %}
                <div class="card">
                    <div class="image">
                        <img class="preview" src="{{ path('management-dashboard-preview', {'screen_guid': screen.getGuid()}) }}">
                    </div>
                    <div class="content">
                        {% include 'forms/edit-screen.html.twig' %}
                    </div>
                    <div class="extra content">
                        Aktuell: {{ screen.getCurrentPresentation() }}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        {# TODO Übersetzen #}

        <h3 class="ui top attached block header">
            Anzeige verbinden
        </h3>

        <div class="ui bottom attached segment">
            <form action="{{ path('management-connect-screen') }}" method="post" class="form-inline">
                <label for="inlineFormInput">Verbindungskennung:</label>
                <div class="ui input">
                    <input type="text" id="inlineFormInput" placeholder="12345678" name="connect_code" maxlength="8">
                </div>

                <label for="who">&nbsp;&nbsp;&nbsp;Verbinden mit: </label>
                <select class="ui dropdown" id="who" name="who">
                    <option value="me">meinem Konto</option>
                    {% for orga in organizations %}
                        <option value="{{ orga.getId() }}">{{ "Organization"|trans }}: {{ orga.getName() }}</option>
                    {% endfor %}
                </select>

                <button class="ui default button" type="submit" class="btn btn-primary">{{ "Connect"|trans }}</button>
            </form>
        </div>

        <a name="create_virtual"></a>
        <h3 class="ui top attached block header">
            Virtuelle Anzeige erstellen
        </h3>

        <div class="ui bottom attached segment">
            {{ form(create_form) }}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
