<div
        data-scheduler="true"
        data-screens="{{ screens|serialize }}"
        data-url-get-schedule="{{ path('management-get-schedule') }}"
        data-url-change-scheduled="{{ path('management-change-scheduled') }}"
        data-url-delete-scheduled="{{ path('management-delete-scheduled') }}"
>
    <div class="sched-screen-list">
        {% for screen in screens %}
            {% if is_granted('schedule', screen) %}
                <div class="item visible{% if loop.first %} selected{% endif %}" data-guid="{{ screen.getGuid() }}">
                    <span title="Anzeigen/Ausblenden" class="selector" data-guid="{{ screen.getGuid() }}"></span>
                    <p title="Name: {{ screen.getName() }}" class="screen-name">{{ screen.getName() }}</p>
                    <p title="Ort: {{ screen.getLocation() }}" class="screen-loction">{{ screen.getLocation() }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="calendar"></div>
</div>
