{#
<div class="dialog">
    <select name="screen" id="screen-prototype">
        {% for screen in screens %}
            <option value="{{ screen.getGuid() }}">{{ screen.getName() }}</option>
        {% endfor %}
    </select>
</div>
#}




<div class="dialog">
    <select name="screen" id="screen-prototype">
        {% for screen in screens %}
            <option value="{{ screen.getGuid() }}">{{ screen.getName() }}</option>
        {% endfor %}
    </select>
    <select name="presentation" id="presentation-prototype">
        {% for instance in presentations %}
            {% for presentation in instance %}
                <option value="{{ presentation.getId() }}">{{ presentation.getTitle() }}</option>
            {% endfor %}
        {% endfor %}
    </select>
</div>

<div id="scheduler-diag-place" class="ui modal">
    <div class="header">
        {{ 'Add further rights'|trans }}
    </div>
    <div class="content">
        <form action="{{ path('management-add-scheduled') }}" method="post" class="ui form">
            <div class="ui field segment">
                <p>{{ 'Presentation'|trans }}:</p>
                <div id="inp-pres" class="ui fluid input">
                </div>
            </div>
            <div class="ui field segment">
                <p>{{ 'Screen'|trans }}:</p>
                <div id="inp-screen" class="ui fluid input">
                </div>
            </div>
            <div class="ui field segment">
                <p>{{ 'StartTime'|trans }}:</p>
                <div id="inp-screen" class="ui fluid input">
                    <input id="date-start" name="start" class="date-pick" type="text">
                </div>
            </div>
            <div class="ui field segment">
                <p>{{ 'EndTime'|trans }}:</p>
                <div id="inp-screen" class="ui fluid input">
                    <input id="date-end" name="end" class="date-pick" type="text">
                </div>
            </div>

        </form>
    </div>
    <div class="actions">
        <div class="ui cancel button">{{ 'Cancel'|trans }}</div>
        <div class="ui primary approve button">{{ 'Save'|trans }}</div>
    </div>
</div>
