<div class="ui dropdown item red">
    Admin
    <i class="dropdown icon"></i>
    <div class="menu">
        <a class="item" href="{{ path('admin-dashboard') }}">{{ "Dashboard"|trans }}</a>
        <a class="item" href="{{ path('admin-users') }}">{{ "Users"|trans }}</a>
        <a class="item" href="{{ path('admin-organizations') }}">{{ "Organizations"|trans }}</a>
        <a class="item" href="{{ path('admin-screens') }}">{{ "Screens"|trans }}</a>
        <a class="item" href="{{ path('admin-invitation-codes') }}">{{ "InvitationCodes"|trans }}</a>
    </div>
</div>
