
{% if is_granted("ROLE_USER") %}

    <div class="ui dropdown item">
        Konto
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">{{ app.user.username }}</div>
            <a class="item" href="{{ path('account-edit') }}"><i class="edit icon"></i> {{ 'Account'|trans }}</a>
            <a class="item" href="{{ path('app_manage_logout') }}"><i class="lock icon"></i> {{ 'Logout'|trans }}</a>
        </div>
    </div>

{% endif %}
