

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} | #}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Konto <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><p class="navbar-text">{{ app.user.username }}</p></li>
            <li><a href="{{ path('account') }}">{{ "Account"|trans }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
        </ul>
    </li>


{% else %}
    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
    <li><a href="#">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>

{% endif %}

