<a class="navi-button" href="{{ path('management-dashboard') }}">{{ "Dashboard"|trans }}</a>
<a class="navi-button" href="{{ path('management-files') }}">{{ "Files"|trans }}</a>
<a class="navi-button" href="{{ path('management-screens') }}">{{ "Screens"|trans }}</a>
<a class="navi-button" href="{{ path('management-scheduler') }}">{{ "Schedule"|trans }}</a>
