{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<li><a href="{{ path('management-dashboard') }}">{{ "Dashboard"|trans }}</a></li>
<li><a href="{{ path('management-files') }}">{{ "Files"|trans }}</a></li>
<li><a href="{{ path('management-presentations') }}">{{ "Presentations"|trans }}</a></li>
<li><a href="{{ path('management-screens') }}">{{ "Screens"|trans }}</a></li>
<li><a href="{{ path('management-scheduler') }}">{{ "Schedule"|trans }}</a></li>

{% endif %}
